{% extends "paranoidApp/base.html" %}

{% load static %}

{% block content %}

<h1>Home Page</h1>

<div class="box">
    <h3><a href="{% url 'view_survey' %}">Sample Survey</a></h3>
    <p><a href="{% url 'analyse_data' %}">View Analytics</a></p>
</div>
{% for survey in surveys %}
    <div class="box">
        <h3><a href="{% url 'view_survey' survey_id=survey.id %}">{{ survey.name }}</a></h3>
        <p><a href="{% url 'analyse_data' survey_id=survey.id %}">View Analytics</a></p>
    </div>
{% endfor %}

{% endblock %}