<head>
    <style>
        select {
            overflow-y: auto;
        }
    
        section > label:first-child {
            display: block;
            background-color: rgb(100,100,100);
            font-weight: bold;
            font-size: 20px;
            color: white;
            margin-bottom: 10px;
        }
        
        section {
            margin-bottom: 30px;
        }
        
        form {
            background-color: rgb(240,240,240);
        }
        .number-rating-display{
            display: inline-block;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script>
        $(document).ready(function(){
            $(".subquestions").hide();
            $(".subquestions-mainquestion").change(function(){
                sectionclass = $(this).attr('data-subquestion-header');
                // $(".subquestions").slideToggle();
                // $("."+sectionclass).slideToggle();
                if ($(this).attr("data-on") == "True")
                {
                    $("."+sectionclass).slideDown();
                    $("."+sectionclass+" textarea," +
                      "."+sectionclass+" select," +
                      "."+sectionclass+" input").each(function(){
                        optional = $(this).attr("data-optional");
                        if(optional == "False")
                        {
                            $(this).prop("required", true);
                        }
                    });
                }
                else
                {
                    $("."+sectionclass).slideUp();
                    $("."+sectionclass+" textarea," +
                      "."+sectionclass+" select," +
                      "."+sectionclass+" input").each(function(){
                        $(this).prop("required", false);
                    });
                }
            });
            $(".number-rating").each(function(){
                value = $(this).val();
                $(this).parent("section").find(".number-rating-display").html(value);
            });
            $(".number-rating").on("input",function(){
                value = $(this).val();
                $(this).parent("section").find(".number-rating-display").html(value);
            });
        });
    </script>
</head>

<p><a href="{% url "index" %}">Home Page</a></p>

<h1>{{survey.name}}</h1>

<h2>{{survey.desc}}</h2>

<form method="POST" action="{% url 'survey_post_data' %}">
{% csrf_token %}
<input type="hidden" value="{{survey.id}}" name="survey-id">
{% for question in survey.questions %}
    <section>
        <label>Q{{forloop.counter}}: {{question.text}}</label>
        {% if question.type == "text" %}
            <textarea name="{{survey.id}}-{{forloop.counter}}" {% if question.optional == null %}required{% endif %}></textarea>
        {% elif question.type == "dropdown" %}
            <select name="{{survey.id}}-{{forloop.counter}}">
                {% for choice in question.choices %}
                    <option>{{choice}}</option>
                {% endfor %}
            </select>
        {% elif question.type == "boolean" %}
            <input type="radio" name="{{survey.id}}-{{forloop.counter}}" value="Yes" 
                id="Q{{forloop.counter}}A1" {% if question.optional == null %}required{% endif %}
                {% if question.subquestions != null %}class="subquestions-mainquestion" 
                data-subquestion-header="Q{{forloop.counter}}-subquestions"
                data-on="{{question.on}}"{% endif %}>
            <label for="Q2A1">Yes</label>
            <input type="radio" name="{{survey.id}}-{{forloop.counter}}" value="No" 
                id="Q{{forloop.counter}}A2" {% if question.optional == null %}required{% endif %}
                {% if question.subquestions != null %}class="subquestions-mainquestion" 
                data-subquestion-header="Q{{forloop.counter}}-subquestions"
                data-on="{% if question.on == false %}True{% else %}False{% endif %}"{% endif %}>
            <label for="Q2A2">No</label>
        {% elif question.type == "radio" %}
            {% for choice in question.choices %}
                <input type="radio" name="{{survey.id}}-{{forloop.parentloop.counter}}" value="{{choice}}" 
                    id="Q{{forloop.parentloop.counter}}-{{forloop.counter}}" {% if question.optional == null %}required{% endif %}>
                <label for="Q{{forloop.parentloop.counter}}-{{forloop.counter}}">{{choice}}</label>
            {% endfor %}
        {% elif question.type == "number_rating" %}
            <input type="range" min="{{question.min}}" max="{{question.max}}" name="{{survey.id}}-{{forloop.counter}}" class="number-rating">
            <p class="number-rating-display"></p>
        {% elif question.type == "email" %}
            <input type="email" name="{{survey.id}}-{{forloop.counter}}" {% if question.optional == null %}required{% endif %}>      
        {% else %}
            <label>Error: could not display Q{{forloop.counter}}: {{question.text}}</label>
        {% endif %}


        {% if question.subquestions != null %}
            <section class="Q{{forloop.counter}}-subquestions subquestions">
            {% for subquestion in question.subquestions %}
                <div>
                    <label>Q{{forloop.parentloop.counter}}.{{forloop.counter}}: {{subquestion.text}}</label>
                    {% if subquestion.type == "text" %}
                        <textarea name="{{survey.id}}-{{forloop.parentloop.counter}}-{{forloop.counter}}" 
                            data-optional="{% if subquestion.optional == null %}False{% else %}True{% endif %}"></textarea>      
                        {% elif subquestion.type == "dropdown" %}
                        <select name="{{survey.id}}-{{forloop.parentloop.counter}}-{{forloop.counter}}"
                            data-optional="{% if subquestion.optional == null %}False{% else %}True{% endif %}">      
                        {% for choice in subquestion.choices %}
                                <option>{{choice}}</option>
                            {% endfor %}
                        </select>
                    {% elif subquestion.type == "boolean" %}
                        <input type="radio" name="{{survey.id}}-{{forloop.parentloop.counter}}-{{forloop.counter}}" 
                            value="Yes" id="Q{{forloop.counter}}A1"
                            data-optional="{% if subquestion.optional == null %}False{% else %}True{% endif %}">      
                        <label for="Q2A1">Yes</label>
                        <input type="radio" name="{{survey.id}}-{{forloop.parentloop.counter}}-{{forloop.counter}}" 
                            value="No" id="Q{{forloop.counter}}A2"
                            data-optional="{% if subquestion.optional == null %}False{% else %}True{% endif %}">      
                        <label for="Q2A2">No</label>
                    {% elif subquestion.type == "radio" %}
                        {% for choice in question.choices %}
                            <input type="radio" name="{{survey.id}}-{{forloop.parentloop.parentloop.counter}}-{{forloop.parentloop.counter}}" 
                                value="{{choice}}" id="Q{{forloop.parentloop.counter}}-{{forloop.counter}}"
                                data-optional="{% if subquestion.optional == null %}False{% else %}True{% endif %}">      
                                <label for="Q{{forloop.parentloop.counter}}-{{forloop.counter}}">{{choice}}</label>
                        {% endfor %}
                    {% elif subquestion.type == "number_rating" %}
                        <input type="range" min="{{subquestion.min}}" max="{{subquestion.max}}" 
                            name="{{survey.id}}-{{forloop.parentloop.counter}}-{{forloop.counter}}"
                            data-optional="{% if subquestion.optional == null %}False{% else %}True{% endif %}">      
                    {% elif subquestion.type == "email" %}
                        <input type="email" name="{{survey.id}}-{{forloop.parentloop.counter}}-{{forloop.counter}}"
                            data-optional="{% if subquestion.optional == null %}False{% else %}True{% endif %}">      
                    {% else %}
                        
                    {% endif %}
                </div>
            {% endfor %}
            </section>
        {% endif %}
    </section>
{% endfor %}
<input type="submit">
</form>