{% extends "paranoidApp/base.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "paranoidApp/single-page-survey-creation-styles.css" %}">
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
{% endblock %}

{% block content %}
    <p><a href="{% url "index" %}">Cancel</a></p>

    <h1>Create a Survey</h1>
    <div>
        <label for="survey-name">Survey Name <span class="required-marker">*</span></label>
        <input id="survey-name" type="text">
        <p class="survey-error"></p>
    </div>

    <div>
        <label for="survey-desc">Survey Description <span class="required-marker">*</span></label>
        <textarea id="survey-desc"></textarea>
        <p class="survey-error"></p>
    </div>
    <div id="questions"></div>
    <div id="add-question">
        <p>Add a Question</p>
    </div>
    <button id="submit">Create Form</button>
    <form id="hidden-form" method="POST" action="{% url 'create_survey_single_post' %}">
        {% csrf_token %}
        <input type="hidden" id="hidden-input" name="json">
    </form>
{% endblock %}

{% block scripts %}
<script src="{% static "paranoidApp/single-page-survey-creation-jquery.js" %}"></script>
{% endblock %}