{% extends "paranoidApp/base.html" %}

{% load static %}
<html>

{% block head %}
    <link rel="stylesheet" href="{% static "paranoidApp/single-page-survey-creation-styles.css" %}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static "paranoidApp/single-page-survey-creation-jquery.js" %}"></script>
{% endblock %}

{% block content %}
<body>

    <p><a href="{% url "index" %}">Home Page</a></p>

    <h1>Create a Survey</h1>
    <div>
        <label for="survey-name">Survey Name</label>
        <input id="survey-name" type="text">
    </div>

    <div>
        <label for="survey-desc">Survey Description</label>
        <textarea id="survey-desc"></textarea>
    </div>
    <div id="questions"></div>
    <div id="add-question">
        <p>Add a Question</p>
    </div>
    <button id="submit">Create Form</button>
    <form id="hidden-form" method="POST" action="{% url 'create_survey_single_post' %}">
        {% csrf_token %}
        <input type="hidden" id="hidden-input" name="json">
    </form>
</body>

</html>

{% endblock %}