<style>
        select {
            overflow-y: auto;
        }
    
        section > label:first-child {
            display: block;
            background-color: rgb(100,100,100);
            font-weight: bold;
            font-size: 20px;
            color: white;
            margin-bottom: 10px;
        }
        
        section {
            margin-bottom: 30px;
        }
        
        form {
            background-color: rgb(240,240,240);
        }
        
    </style>

<h1>{{survey.name}}</h1>

<h2>{{survey.desc}}</h2>

<form method="POST" action="{% url 'testpost' %}">
{% csrf_token %}
<input type="hidden" value="{{survey.id}}" name="survey-id">
{% for question in survey.questions %}
    <section>
        {% if question.type == "text" %}
            <label>Q{{forloop.counter}}: {{question.text}}</label>
            <textarea name="{{survey.id}}-{{forloop.counter}}" {% if question.optional == null %}required{% endif %}></textarea>
        {% elif question.type == "single_answer_multiple_choice" %}
            <label>Q{{forloop.counter}}: {{question.text}}</label>
            <select name="{{survey.id}}-{{forloop.counter}}">
                {% for choice in question.choices %}
                    <option>{{choice}}</option>
                {% endfor %}
            </select>
        {% elif question.type == "boolean" %}
            <label>Q{{forloop.counter}}: {{question.text}}</label>
            <input type="radio" name="{{survey.id}}-{{forloop.counter}}" value="Yes" id="Q{{forloop.counter}}A1" {% if question.optional == null %}required{% endif %}>
            <label for="Q2A1">Yes</label>
            <input type="radio" name="{{survey.id}}-{{forloop.counter}}" value="No" id="Q{{forloop.counter}}A2" {% if question.optional == null %}required{% endif %}>
            <label for="Q2A2">No</label>
        {% elif question.type == "scale" %}
            <label>Q{{forloop.counter}}: {{question.text}}</label> 
            {% for choice in question.choices %}
                <input type="radio" name="{{survey.id}}-{{forloop.parentloop.counter}}" value="{{choice}}" id="Q{{forloop.parentloop.counter}}-{{forloop.counter}}" {% if question.optional == null %}required{% endif %}>
                <label for="Q{{forloop.parentloop.counter}}-{{forloop.counter}}">{{choice}}</label>
            {% endfor %}
        {% elif question.type == "number_rating" %}
            <label>Q{{forloop.counter}}: {{question.text}}</label> 
            <input type="range" min="{{question.min}}" max="{{question.max}}" name="{{survey.id}}-{{forloop.counter}}">
        {% elif question.type == "email" %}
            <label>Q{{forloop.counter}}: {{question.text}}</label>
            <input type="email" name="{{survey.id}}-{{forloop.counter}}" {% if question.optional == null %}required{% endif %}>      
        {% else %}
            <label>Error: could not display Q{{forloop.counter}}: {{question.text}}</label>
        {% endif %}


        {% if question.subquestions != null %}
            {% for subquestion in question.subquestions %}
                <div>
                    {% if subquestion.type == "text" %}
                        <label>Q{{forloop.parentloop.counter}}.{{forloop.counter}}: {{subquestion.text}}</label>
                        <textarea name="{{survey.id}}-{{forloop.parentloop.counter}}-{{forloop.counter}}"></textarea>
                    {% elif subquestion.type == "single_answer_multiple_choice" %}
                        <label>Q{{forloop.parentloop.counter}}.{{forloop.counter}}: {{subquestion.text}}</label>
                        <select name="{{survey.id}}-{{forloop.parentloop.counter}}-{{forloop.counter}}">
                            {% for choice in subquestion.choices %}
                                <option>{{choice}}</option>
                            {% endfor %}
                        </select>
                    {% elif subquestion.type == "boolean" %}
                        <label>Q{{forloop.parentloop.counter}}.{{forloop.counter}}: {{subquestion.text}}</label>
                        <input type="radio" name="{{survey.id}}-{{forloop.parentloop.counter}}-{{forloop.counter}}" value="Yes" id="Q{{forloop.counter}}A1">
                        <label for="Q2A1">Yes</label>
                        <input type="radio" name="{{survey.id}}-{{forloop.parentloop.counter}}-{{forloop.counter}}" value="No" id="Q{{forloop.counter}}A2">
                        <label for="Q2A2">No</label>
                    {% elif subquestion.type == "scale" %}
                        <label>Q{{forloop.parentloop.counter}}.{{forloop.counter}}: {{subquestion.text}}</label> 
                        {% for choice in question.choices %}
                            <input type="radio" name="{{survey.id}}-{{forloop.parentloop.parentloop.counter}}-{{forloop.parentloop.counter}}" value="{{choice}}" id="Q{{forloop.parentloop.counter}}-{{forloop.counter}}">
                            <label for="Q{{forloop.parentloop.counter}}-{{forloop.counter}}">{{choice}}</label>
                        {% endfor %}
                    {% elif subquestion.type == "number_rating" %}
                        <label>Q{{forloop.parentloop.counter}}.{{forloop.counter}}: {{subquestion.text}}</label> 
                        <input type="range" min="{{subquestion.min}}" max="{{subquestion.max}}" name="{{survey.id}}-{{forloop.parentloop.counter}}-{{forloop.counter}}">
                    {% elif subquestion.type == "email" %}
                        <label>Q{{forloop.parentloop.counter}}.{{forloop.counter}}: {{subquestion.text}}</label>
                        <input type="email" name="{{survey.id}}-{{forloop.parentloop.counter}}-{{forloop.counter}}">      
                    {% else %}
                        <label>Q{{forloop.parentloop.counter}}.{{forloop.counter}}: {{subquestion.text}}</label>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </section>
{% endfor %}
<input type="submit">
</form>