<style>
    input, textarea
    {
        margin-top: 20px;
    }
</style>


<form action="{% url 'create_survey_start' %}" method="POST">
    {% csrf_token %}
    <div>
        <label for="survey-name">Survey name</label>
        <input type="text" name="name" required>
    </div>
    <div>
        <label for="survey-desc">Survey Description</label>
        <textarea required name="desc"></textarea>
    </div>
    <div>
        <input type="number" name="number_of_questions">
    </div>
    <input type="submit" name="submitname" id ="submitid">
</form>

<!-- 
    Process for creation:
        Get Survey Title and Description
        allow the user to add questions
            allow user to choose question type, name, text, and other values
        post data
 -->