{% extends 'paranoidApp/base.html' %}

{% load static %}

{% block head %}
<style>
    .box{
        padding: 5px;
        margin: 5px;
        border: 2px solid gray;
    }
</style>
{% endblock %}

{% block content %}
<h1>Analytics for {{survey_name}}</h1>

{% for question in questions %}
    <div class="box">
        <p><strong>Question {{forloop.counter}}:</strong> {{question.question_text}}</p>
        {% if question.extra is not None %}
            <p>Min: {{question.extra.min}}</p>
            <p>Max: {{question.extra.max}}</p>
            <p>Average: {{question.extra.average}}</p>
            <p>Median: {{question.extra.median}}</p>
        {% endif %}
        {% if question.image_file is not None %}
            <img src="{% static question.image_file %}">
        {% endif %}
    </div>
{% endfor %}

{% endblock %}