{% extends 'paranoidApp/base.html' %}

{% block content %}
    <h1>
        {% if request.user.is_admin %}
        All Surveys:
        {% else %}
        Your Surveys:
        {% endif %}
    </h1>
    {% for survey in surveys %}
        <div class="box">
            <p><a href="{% url 'survey_data' survey.pk %}">{{survey.survey_name}}</a></p>
            <p><a href="{% url 'analyse_data' survey_id=survey.id %}">View Analytics</a></p>
            <p><a class="delete-survey" href="{% url 'delete_survey' survey.pk %}">Delete</a></p>
        </div>
    {% endfor %}
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function(){
        $(".delete-survey").click(function(e){
            e.preventDefault();
            if(confirm("Are you sure you want to delete this survey?"))
            {
                window.location.replace($(this).attr("href"))
            }
        });
    });
</script>
{% endblock %}